/* COLOR STYLES
#111111;  - black
#FD9222;  - orange
#1E1823;  - violet
#FFFFFF;  - white

250ms cubic-bezier(0.4, 0, 0.2, 1)
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.container {
  max-width: 367px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 736px) {
    width: 736px;
  }

  @media screen and (min-width: 1168px) {
    width: 1168px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* !HEADER============================== */

.page-header {
  padding: 20px 0 14px;
  background-color: #ffffff;
}

.page-header .container {
  /* display: flex;
  align-items: center; */
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link-logo {
  font-weight: 700;
  letter-spacing: -0.03em;

  color: #111;
  margin-right: 4px;
}

.header-nav-logo-text {
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.03em;

  color: #111;
  margin-right: 3px;
}

.header-nav-logo-icon {
  background-color: transparent;
  fill: #fcf1e0;
  stroke: #fd9222;
}

.header-nav-link-logo-bar {
  width: 21px;
  height: 21px;
  background-color: transparent;
  margin-right: auto;
}

.header-nav-list {
  display: none;
}

.header-nav-list-item {
}
.header-nav-list-item-link {
}

.header-btn-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 7px 3.5px;
  line-height: 0;
}

.header-btn-icon {
  stroke: #111111;
}

.header-social-list {
  display: none;
}

.header-social-list-item {
}
.header-social-list-item-link {
}
.header-social-list-item-link-icon {
}

/* !HERO============================== */

.page-hero .container {
  padding-top: 395px;
  padding-bottom: 21px;
  margin-bottom: 59px;
  border-radius: 30px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  max-width: 299px;
  margin-bottom: 32px;
  color: #ffffff;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 32px;
}

.hero-list-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: #ffffff;
  padding: 12px 27px;
  max-height: 41px;
  border-radius: 100px;
}

.hero-left-btn {
  border: none;
  background-color: #fd9222;
  min-width: 120px;
}

.hero-right-btn {
  border: 1px solid #ffffff;
  background-color: transparent;
  min-width: 159px;
}

.hero-scroll-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-scroll-box-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.hero-scroll-box-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
}
.hero-scroll-box-btn-icon {
  fill: #fd9222;
}

/* !ABOUT============================== */

.page-about {
  margin-top: 29.5px;
  padding: 20px 0;
  background-color: #1e1823;
}

.about-list {
}
.about-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.about-list-item:first-child {
  padding-bottom: 18px;
}

.about-list-item:last-child {
  padding-bottom: 16px;
}

.about-list-item-box {
  display: flex;
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;

  margin-bottom: 22px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.about-list-item-box-icon {
  fill: #fd9222;
}

.about-list-item-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 18px;
  color: #ffffff;
}

.about-list-item-text {
  max-width: 308px;
  color: rgba(255, 255, 255, 0.7);
}

/* !TASTE============================== */

.page-taste {
  padding: 60px 0 30px;
}

.taste-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;

  max-width: 283px;
  margin: 0 auto 24px;
  color: #111111;
}

.taste-title-custom {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
}

.taste-text {
  text-align: center;

  margin-bottom: 32px;
  color: #111111;
}

.taste-list {
}

.taste-list-item {
  position: relative;
  padding: 28px;
  max-width: 335px;
  max-height: 270px;
  border-radius: 15px;
}

.taste-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.taste-list-item:first-child {
  background-color: #fd9222;
}

.taste-list-item:nth-child(even) {
  background-color: #ffffff;
  border: 1px solid #fd9222;
}

.taste-list-item:nth-child(3) {
  background-color: #1e1823;
}

.taste-list-item-img {
  margin: 0 auto;
}

.taste-list-item-text {
  font-weight: 600;
  text-transform: uppercase;

  color: #ffffff;
  margin-top: 25px;
}

.even-text {
  color: #111111;
}

.taste-hidden-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 99%;
  height: 99%;
  padding: 28px;
  background-color: #ffffff;
  border-radius: 15px;

  animation: taste-hidden-box 500ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transform: translate(-100%); */
}

@keyframes taste-hidden-box {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: transformY(0%);
  }
}

.taste-hidden-box-title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 8px;
  color: #111111;
}

.taste-hidden-box-list {
  display: flex;
  align-items: baseline;
  gap: 6px;
  max-height: 24px;
  margin-bottom: 14px;
}

.taste-hidden-box-list-item-btn {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;

  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;

  height: 24px;
  border-radius: 35px;
  color: #ffffff;
  border: none;
  background-color: #fd9222;
}

.second-btn {
  border: 1px solid #fd9222;
  background-color: #fafafa;
  color: #111111;
}

.taste-hidden-box-text {
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  color: #111111;
}

/* !HOW========== */

.page-made {
  padding: 30px 0;
}

.made-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  color: #111111;
  margin-bottom: 32px;
}

.made-custom-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fd9222;
}

.made-img {
  position: relative;
  border-radius: 15px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../images/him-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 20px;
}

.made-box {
  position: relative;
}

.made-box-icon {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.made-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  max-width: 307px;
  color: #111;
  margin-bottom: 20px;
}

.made-list {
  padding: 20px;
}

.made-list-item {
  display: flex;
  gap: 8px;
}

.made-list-item:not(:last-child) {
  margin-bottom: 18px;
}

.made-list-item::before {
  display: block;
  content: '';
  min-width: 8px;
  max-height: 8px;
  background-color: #4c4c4c;
  stroke-width: 1px;
  stroke: #eceded;
  border-radius: 50%;
  margin-top: 5px;
}

.made-list-item-text {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 291px;
  color: #111;
}
